/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #121212;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  background: #121212;
  overflow-y: auto;
}

.header .profile {
  height: 100vh;
}

.header .profile .profile-picture {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  flex: 3;
  height: 35vh;
  width: auto;
}

.header .profile .profile-name {
  flex: 3;
  justify-content: center;
}

.header .profile h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.header .profile h2 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Architects Daughter", cursive;
}

.header .profile h3 {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Architects Daughter", cursive;
}

.header .profile h4 {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-weight: 400;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.header .profile .profile-information {
  flex: 2;
}

.header .profile .profile-links {
  flex: 1;
  margin-bottom: 4vh;
}

.header .profile .profile-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.header .profile .profile-links a:hover {
  background: #121212;
  color: #fff;
  text-decoration: none;
}

#main {
  background: #181818;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

@media (max-width: 768px) {
  #main {
    height: auto;
    overflow-y: unset;
  }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/

section {
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

.section-bg {
  background: #404040;
}

/*--------------------------------------------------------------
  # Interests Section
  --------------------------------------------------------------*/

.interest-container {
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.interest-container h2 {
  font-size: 24px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.interest-container-title {
  flex: 4;
  background: #121212;
  border-radius: 12px 0px 0px 12px;
}

.interest-container-content {
  flex: 3;
  justify-content: start;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.interest-container-item {
  flex: 1;
}

.interest-container-content img {
  padding: 2px;
  height: 48px;
  border-radius: 6px;
}

/*--------------------------------------------------------------
  # Knowledge Container
  --------------------------------------------------------------*/

.knowledge-container {
  border-radius: 12px;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.knowledge-container-title {
  align-items: center;
}

.knowledge-container-title h2 {
  font-size: 24px;
  text-align: center;
  background: #121212;
  border-radius: 12px 12px 0px 0px;
  font-family: "Roboto Mono", monospace;
}

.knowledge-container-content-row {
  border-spacing: 2px;
  border-radius: 24px;
  border-color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.knowledge-container-sub-title {
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.knowledge-container-sub-title h4 {
  margin-top: 4px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Architects Daughter", cursive;
}

.knowledge-container-item {
  padding: 2px;
}

.knowledge-container-item img {
  height: 48px;
  border-radius: 6px;
}

/*--------------------------------------------------------------
  # Timeline Container
  --------------------------------------------------------------*/

.timeline-container {
  border-radius: 12px;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.timeline-container-title {
  align-items: center;
}

.timeline-container-title h2 {
  font-size: 24px;
  text-align: center;
  background: #121212;
  border-radius: 12px 12px 0px 0px;
  font-family: "Roboto Mono", monospace;
}

.sessions,
.session {
  list-style: none;
}

.session {
  padding-bottom: 1.5rem;
  border-left: 1px solid #fff;
  position: relative;
  padding-left: 25px;
  margin-left: 20px;
}
.session:last-child {
  border: 0px;
  padding-bottom: 0;
}
.session:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  top: 0px;
}

.time {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}

.timeline p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  text-align: justify;
  font-weight: 400;
  text-align-last: left;
  font-family: "Roboto Mono", monospace;
}
